__pycache__/
*.pyc
*.pyo
*.log
*.out
*.err
.snakemake/
results/
jobs/
*.bam
*.sam
*.fastq
*.fastq.gz
*.fq.gz
*.gz

# Bowtie2 index / reference large files
resources/reference/
*.bt2
*.bt2l

# OS / editor
.DS_Store
*~
